<% if @output == :pdf %>
<div class="halftitlepage">
<h1 class="no-toc"><%= @book.title %></h1>
<h2 class="no-toc"><%= @book.subtitle %></h2>
<h3 class="no-toc">Version <%= @book.version %></h3>
</div>
<% end %>

<div class="titlepage" id="titlepg">
<h1 class="no-toc"><%= @book.title %></h1>
<h2 class="no-toc"><%= @book.subtitle %></h2>
<h3 class="no-toc">Version <%= @book.version %></h3>

<p class="no-toc">Dave Thompson</p>
<!-- also, the publisher's name would typically be printed here -->
</div>

<div class="imprint">
<p>Copyright &copy; 2012 BlueHead Publishing. All Rights Reserved.</p>
</div>